.mainwhite {
  font-family: Helvetica;
  font-size: 110%;
  background-color: white;
  width: 90%;
  margin: 45px auto;
  border: 1px solid black;
  padding: 9px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  behavior: url(lib/PIE.htc); }
