html, body {
  width: 100%;
  margin: 0;
  padding: 0; }

.bg {
  background-color: #f1ccff; }

.flanking {
  background-color: none; }

.portland {
  position: static;
  width: 100%;
  height: 280px;
  margin: 0px;
  padding: 0px;
  background-image: url(portland.png); }

.title {
  position: absolute;
  text-align: center;
  top: 11%;
  width: 100%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  z-index: 999999;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 400%;
  text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white; }

.navbar {
  position: absolute;
  top: 280px;
  z-index: 9999999;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #050117;
  font-family: Helvetica;
  font-size: 155%;
  padding-top: 9px;
  padding-bottom: 5px; }

.color:hover {
  display: inline;
  background-color: #1b182b;
  width: 100%;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 2px; }
  @media (max-width: 900px) {
    .color:hover {
      margin-left: -18px;
      margin-right: -18px;
      padding-left: 18px;
      padding-right: 18px; } }
  @media (max-width: 800px) {
    .color:hover {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 700px) {
    .color:hover {
      margin-left: -14px;
      margin-right: -14px;
      padding-left: 14px;
      padding-right: 14px; } }
  @media (max-width: 600px) {
    .color:hover {
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 500px) {
    .color:hover {
      margin-left: -8px;
      margin-right: -8px;
      padding-left: 8px;
      padding-right: 8px; } }

.color:active {
  display: inline;
  background-color: #141121;
  width: 100%;
  font-size: 98%;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 3px; }
  @media (max-width: 900px) {
    .color:active {
      margin-left: -18px;
      margin-right: -18px;
      padding-left: 18px;
      padding-right: 18px; } }
  @media (max-width: 800px) {
    .color:active {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 700px) {
    .color:active {
      margin-left: -14px;
      margin-right: -14px;
      padding-left: 14px;
      padding-right: 14px; } }
  @media (max-width: 600px) {
    .color:active {
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 500px) {
    .color:active {
      margin-left: -8px;
      margin-right: -8px;
      padding-left: 8px;
      padding-right: 8px; } }

.clickedNav {
  display: inline;
  background-color: #5a5a5e;
  width: 100%;
  font-size: 100%;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 2px; }
  @media (max-width: 900px) {
    .clickedNav {
      margin-left: -18px;
      margin-right: -18px;
      padding-left: 18px;
      padding-right: 18px; } }
  @media (max-width: 800px) {
    .clickedNav {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px; } }
  @media (max-width: 700px) {
    .clickedNav {
      margin-left: -14px;
      margin-right: -14px;
      padding-left: 14px;
      padding-right: 14px; } }
  @media (max-width: 600px) {
    .clickedNav {
      margin-left: -10px;
      margin-right: -10px;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (max-width: 500px) {
    .clickedNav {
      margin-left: -8px;
      margin-right: -8px;
      padding-left: 8px;
      padding-right: 8px; } }

.table {
  list-style: none;
  display: table;
  padding: 0px;
  margin: -5px auto -3px auto; }

.item {
  display: inline;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: none; }
  @media (max-width: 1400px) {
    .item {
      padding-left: 95px;
      padding-right: 95px; } }
  @media (max-width: 1300px) {
    .item {
      padding-left: 85px;
      padding-right: 85px; } }
  @media (max-width: 1100px) {
    .item {
      padding-left: 75px;
      padding-right: 75px; } }
  @media (max-width: 1000px) {
    .item {
      padding-left: 60px;
      padding-right: 60px; } }
  @media (max-width: 850px) {
    .item {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (max-width: 700px) {
    .item {
      padding-right: 45px;
      padding-left: 45px; } }
  @media (max-width: 650px) {
    .item {
      padding-right: 40px;
      padding-left: 40px; } }
  @media (max-width: 600px) {
    .item {
      padding-right: 30px;
      padding-left: 30px; } }
  @media (max-width: 550px) {
    .item {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (max-width: 400px) {
    .item {
      padding-right: 15px;
      padding-left: 15px; } }
  @media (max-width: 335px) {
    .item {
      padding-left: 6px;
      padding-right: 6px; } }

.navlink {
  text-decoration: none;
  color: #fafcfa;
  background-color: none; }
